/* font-family: "SegoeUIRegular"; */
@font-face {
	font-family: "SegoeUIRegular";
	src: url("../fonts/segoeui.ttf");
}
@font-face {
	font-family: "SegoeUIBold";
	src: url("../fonts/segoeuib.ttf");
}
@font-face {
	font-family: "SegoeUILight";
	src: url("../fonts/segoeuil.ttf");
}