body {
	font-family: "SegoeUIRegular";
}
header {
	float: left;
	position: relative;
	width: 100%;
	height: 67px;
	z-index: 999;
	border-bottom: 1px solid #d8d2c9;
	background: #fff;
}
.header-logo {
	float: left;
	margin-left: 10px;
	margin-top: 18px;
}
.header-menu {
	display: block;
	font-size: 14px;
	float: right;
	margin-top: 30px;
}
.header-menu li {
	float: left;
	margin-left: 22px;
	margin-right: 12px;
	padding-bottom: 22px;
}
.header-menu ul li a {
	float: left;
	color: #4a4a4a;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.3s ease;
	-moz-transition: border-bottom 0.3s ease;
	-webkit-transition: border-bottom 0.3s ease;

}
.header-menu  ul  li  a:hover {
	border-bottom: 1px solid #777777;
}
 .header-menu-mob {
	display: none;
	float: right;
	height: 67px;
	width: 52px;
}
.header-menu-mob .btn {
	display: inline-block;
	border: none;
	background-color: transparent;
	margin-top: 20px;
}
 .header-menu-mob .btn {
	width: 40px;
	height: 31px;
	background: url(../img/menu_icons.png) no-repeat;
	transition: none;
}
.header-menu-mob .btn.openmenu {
	background-position: 0 0;
}
.header-menu-mob .btn.closemenu {
	background-position: 0 -31px;
}
/**************** FlexSlider *********************/
.slider {
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}
.slider .flexslider {
	margin-bottom: 40px;
}
.flexslider .flex-caption {
	font-family: "SegoeUILight";
	color: #ffffff;
	font-size: 27px;
	text-align: center;
	bottom: 40px;
	left: 90px;
	padding-right: 50px;
	display: block;
	position: absolute;
}
.flexslider .flex-control-nav {
	position: relative;
	bottom: -20px;
}
.flex-control-paging li a {
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
	background-color: #fff!important;
	border: 1px solid #bcbcbc;
}
.flex-control-paging li a.flex-active {
	background-color: #bcbcbc!important;
}
.flex-direction-nav li a.flex-prev {
	left: 0;
	cursor:url(../img/arrow-left.png), auto;
}
.flex-direction-nav li a.flex-next {
	right: 0;
	cursor:url(../img/arrow-right.png), auto;
}
.flex-direction-nav li a {
	display: block;
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	text-indent: -99999px;
}
.flex-direction-nav {
	position: absolute;
	top: -20px; 
	width: 100%; 
	height: 100%;
}
/**************** Category *********************/
.category {
	position: relative;
	text-align: center;
	margin-top: 15px;
}
.category ul{
	list-style: none;
}
.category li {
	display: inline-block;
	margin-right: 6px;
	margin-bottom: 8px;
	max-width: 366px;
	min-width: 183px;
	width: 32%;
	height: 142px;
}
.category li a {
	font-family: "SegoeUILight";
	font-size: 20px;
	color: #fff;
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
}
.category li a span {
	display: block;
	position: relative;
	top: 28%;
}
.category li a p {
	display: block;
	margin-top: 14px;
	width: 100%;
	position: relative;
	top: 28%;
}
.category .project {
	background-color: #1abc9c;
}
.category .project:hover {
	background-color: #1ed6b1;
}
.category .project:active {
	background-color: #17a387;
}
.category .collegue {
	background-color: #34495e;
}
.category .collegue:hover {
	background-color: #425d78;
}
.category .collegue:active {
	background-color: #263545;
}
.category .client {
	background-color: #9b59b6;
}
.category .client:hover {
	background-color: #b165cf;
}
.category .client:active {
	background-color: #854c9c;
}
/**************** Services *********************/
.services {
	margin: 85px 0;
	overflow: hidden;
}
.services .title {
	position: relative;
	z-index: 50;
	text-align: center;
	width: 100%;
}
.services .title h1 {
	display: inline-block;
	font-family: "SegoeUILight";
	font-size: 27px;
	font-weight: normal;
	color: #b9b9b9;
	background-color: #fff;
	padding: 0 30px;
}
.services .title::after{
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: #f0f0f0;
	position: absolute;
	top: 14px;
	left: 0;
	z-index: -50;
}
.services .circle-block {
	float: left;
	width: 100%;
	margin-top: 66px;
	text-align: center;
	padding: 0 5px;
}
.services .circle-block li {
	display: inline-block;
	position: relative;
	margin-right: 91px;
	vertical-align: top;
}
.services .circle-block li:last-child {
	margin-right: 0;
}
.services .circle-block li a {
	display: block;
	position: relative;
	width: 100%;
	border-radius: 50%;
	color: #0097d6;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
.services .circle-block li a:hover {
	background-color: #0097d6;
	color: #fff;
}
.services .circle-block li span {
	display: block;
	width: 256px;
	height: 256px;
	text-align: center;
	line-height: 258px;
	border: 1px solid #0097d6;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
.services .circle-block li p {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 170px;
}
.services .circle-block li span i.icons_bw {
	width: 88px;
	height: 85px;
	text-align: center;
	display: inline-block;
	overflow: hidden;
	background: url(../img/sprite_bw.png) no-repeat;
	margin-top: 65px;
}
.services .circle-block li i.icons_bw.one {
	background-position: 4px 5px;
}
.services .circle-block li a:hover i.icons_bw.one {
	background-position: 4px -74px;
}
.services .circle-block li i.icons_bw.two {
	background-position: 0 -163px;
}
.services .circle-block li a:hover i.icons_bw.two {
	background-position: 0 -258px;
}
.services .circle-block li i.icons_bw.three {
	background-position: 0 -343px;
}
.services .circle-block li a:hover i.icons_bw.three {
	background-position: 0 -426px;
}
/********************* Partners  *************************/
.partners_tf {
	position: relative;
	text-align: center;
	width: 100%;
	background-color: #fcfcfc;
}
.partners_tf img {
	width: 100%;
	position: relative;
}
/******************* Footer ****************************/
footer {
	position: relative;
	width: 100%;
	height: 110px;
	background-color: #f2f2f2;
}
.footer-logo {
	float: left;
	margin-top: 18px;
}
.footer-menu {
	display: block;
	font-size: 14px;
	float: right;
	margin-top: 36px;
}
.footer-menu > ul > li {
	float: left;
	margin-left: 22px;
	margin-right: 12px;
	padding-bottom: 12px;
}
.footer-menu > ul > li > a {
	float: left;
	color: #a9a9a9;
	transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-webkit-transition: color 0.3s ease;
}
.footer-menu > ul > li > a:hover {
	color: #8a8a8a;
}
.footer-info {
	display: inline-block;
	width: 100%;
	margin-top: 6px;
}
.footer-info .info-email {
	font-family: "SegoeUIRegular";
	display: block;
	float: left;
	font-size: 15px;
	color: #9e9e9e;
}
.footer-info .info-email i {
	margin-right: 6px;
}
.footer-info .c2016 {
	float: right;
	font-family: "SegoeUILight";
	font-size: 12px;
	color: #d1d1d1;
	margin-right: 12px;
	line-height: 17px;
}
/**************** Wallpaper ********************/
.wallpaper {
	margin: 0 auto;
	padding-top: 67px;
	width: 100%;
	max-height: 542px;
}
.wallpaper img {
	width: 100%;
}
/************************ Server **************************/
.server {
	position: relative;
	margin: 40px 0 150px;
}
.server h1 {
	font-size: 30px;
	font-weight: normal;
	color: #0097d6;
	text-transform: uppercase;
	margin-bottom: 35px;
}
.server p {
	font-family: "SegoeUILight";
	font-size: 15px;
	color: #888888;
	padding-left: 4px;
	line-height: 18px;
}
/******************* Projects ***********************/
.projects {
	position: relative;
	padding-top: 112px;
	text-align: center;
	margin-bottom: 80px;
}
.projects ul {
	list-style: none;
	padding-left: 5px;
}
.projects li {
	display: inline-block;
	width: 350px;
	margin: 0 10px 30px;
}
.projects li img{
	width: 100%;
	height: 100%;
}
.projects li h2 {
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	margin-top: 15px;
	line-height: 16px;
}
/******************** Partners *************************/
.partners {
	position: relative;
	padding-top: 112px;
	text-align: center;
	margin-bottom: 115px;
}
.partners ul {
	list-style: none;
	padding-left: 5px;
}
.partners li {
	display: inline-block;
	width: 350px;
	margin: 0 10px 25px;
}
.partners li img{
	width: 100%;
	height: 100%;
}
/********************* Products *************************/
.products {
	position: relative;
	padding-top: 67px;
	text-align: center;
	margin-bottom: 30px;
}
.products .circle-block {
	width: 100%;
	margin-top: 66px;
	text-align: center;
	padding: 0 5px;
}
.products .circle-block li {
	display: inline-block;
	position: relative;
	margin-right: 45px;
	margin-left: 45px;
	margin-bottom: 60px;
	vertical-align: top;
}
.products .circle-block li:last-child {

}
.products .circle-block li a {
	display: block;
	position: relative;
	width: 100%;
	border-radius: 50%;
	color: #0097d6;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
.products .circle-block li a:hover {
	background-color: #0097d6;
	color: #fff;
}
.products .circle-block li span {
	display: block;
	width: 256px;
	height: 256px;
	text-align: center;
	line-height: 258px;
	border: 1px solid #0097d6;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
.products .circle-block li p {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 165px;
	line-height: 20px;
}
.products .circle-block li span i.icons_bw {
	width: 90px;
	height: 85px;
	text-align: center;
	display: inline-block;
	overflow: hidden;
	background: url(../img/sprite_bw.png) no-repeat;
	margin-top: 65px;
}
.products .circle-block li i.icons_bw.four {
	background-position: 13px -509px;
}
.products .circle-block li a:hover i.icons_bw.four {
	background-position: 13px -587px;
}
.products .circle-block li i.icons_bw.five {
	background-position: 4px -665px;
}
.products .circle-block li a:hover i.icons_bw.five {
	background-position: 4px -745px;
}
.products .circle-block li i.icons_bw.six {
	height: 67px;
	background-position: -4px -825px;
}
.products .circle-block li a:hover i.icons_bw.six {
	background-position: -4px -892px;
}
.products .circle-block li i.icons_bw.seven {
	background-position: 11px -962px;
}
.products .circle-block li a:hover i.icons_bw.seven {
	background-position: 11px -1042px;
}
.products .circle-block li i.icons_bw.eight {
	height: 65px;
	background-position: 4px -1119px;
}
.products .circle-block li a:hover i.icons_bw.eight {
	background-position: 4px -1184px;
}
.products .circle-block li i.icons_bw.nine {
	background-position: 4px -1250px;
}
.products .circle-block li a:hover i.icons_bw.nine {
	background-position: 4px -1327px;
}
/****************** Idea-Form **********************/
.idea-form	{
	position: relative;
	padding-top: 112px;
	margin-bottom: 125px;
	text-align: center;
	width: 100%;
}
.idea-form .title {
	position: relative;
	z-index: 50;
	margin-bottom: 65px;
	text-align: center;
	width: 100%;
}
.idea-form .title h1 {
	display: inline-block;
	font-family: "SegoeUILight";
	font-size: 27px;
	font-weight: normal;
	color: #b9b9b9;
	background-color: #fff;
	padding: 0 30px;
}
.idea-form .title::after{
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: #f0f0f0;
	position: absolute;
	top: 14px;
	left: 0;
	z-index: -50;
}
.idea-form iframe {
	width: 671px;
	height: 418px;
	margin-right: 20px;
	margin-bottom: 40px;
	display: inline-block;
	float: left;
}
.idea-form form {
	margin: 0;
	padding: 0;
	display: inline-block;
}
.idea-form form input,
.idea-form form textarea {
	font-family: "SegoeUIRegular";
	width: 432px;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: normal;
	padding: 0 20px;
	border: 0;
	background-color: #f7f7f7;
}
.idea-form form input {
	height: 55px;
}
.idea-form form textarea {
	padding: 15px 20px;
	height: 155px;
}
.idea-form form input[name="enter"] {
	background-color: #dcdcdc;
	color: #bebebe;
	margin: 0;
}
.idea-form form input[name="enter"]:hover {
	background-color: #00b2ff;
	color: #fff;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
